body {
  background-color: #202129;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 600px;
}

form div {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 300px;
}

.form-title {
  margin: 50px 0;
  color: white;
  display: flex;
  justify-content: center;
}

label {
  margin-right: 15px;
  display: flex;
  align-items: center;
  color: white;
}

input {
  margin-left: 100px;
  margin: 15px 0;
}

.gender {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.gender label {
  margin: auto;
}

textarea {
  resize: none;
  height: 300px;
  width: 500px;
  margin: auto;
}

textarea {
  outline: none;
  margin: 15px 0;
}

button {
  padding: 20px;
  margin: auto;
}
