/* =================== HEADER STYLES ====================== */
* {
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  background-color: #202129;
  color: white;
}

/* =================== MAIN STYLES ====================== */
header {
  background-color: rgb(196, 193, 193);
  padding: 10px;
}

nav {
  display: flex;
  width: 75vw;
  align-items: center;
}

nav h1 {
  margin-left: 0;
  color: black;
}

nav ul {
  margin-right: 0;
}

.navList li {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
}

.navList a {
  text-decoration: none;
  color: black;
}

.navList li:hover {
  background-color: grey;
}

.cover {
  position: relative;
  text-align: center;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.cover img {
  height: 750px;
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.intro {
  width: 50vw;
  margin-top: 25px;
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
}

h3 {
  margin-bottom: 15px;
  justify-content: center;
  display: flex;
}

.para {
  display: flex;
}

.multiple {
  width: 75vw;
  margin-top: 20px;
  overflow: hidden;
}

.multiple img {
  width: 40vw;
  height: 400px;
  float: left;
  margin: 0 15px 30px 0;
}

/* =================== FOOTER STYLES ====================== */
footer {
  background-color: rgb(196, 193, 193);
  color: black;
}

.footerList1 {
  margin: 30px 100px 0 0;
  margin-bottom: 50px;
}

.footerList1 {
  padding-left: 0;
}

.footerList1 li {
  list-style: none;
}

.footerList1 li a {
  text-decoration: none;
  color: black;
}

.footerList1 a:hover {
  text-decoration: underline;
}

.try {
  width: 75vw;
  display: flex;
}

.socials img {
  height: 30px;
  width: 30px;
}

.socials li {
  list-style: none;
  margin: 5px 5px 0 5px;
}

.socials ul {
  display: flex;
  padding: 0;
}

/* =================== RESPONSIVE DESIGN ====================== */
/* Styles below are for tablet users*/

@media screen and (max-width: 845px) {
  .multiple img {
    width: 100vw;
    height: 350px;
    margin: 0 15px 30px 0;
  }

  .responsive {
    display: flex;
    justify-content: center;
  }

  footer {
    padding-top: 10px;
  }

  .socials h4 {
    margin-top: -30px;
  }

  .socials ul {
    display: flex;
    flex-direction: column;
  }

  .socials img {
    height: 20px;
    width: 20px;
  }
}

/* Styles below are for smartphone users*/
@media screen and (max-width: 425px) {
  body {
  }
  .navList {
    display: none;
  }

  .cover img {
    height: 300px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  h2 {
    top: 35%;
    font-size: 25px;
  }

  .intro {
    width: 80vw;
  }
  .multiple {
    margin-bottom: 50px;
  }

  .multiple img {
    width: 80vw;
    height: 250px;
  }

  .try {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .try ul {
    width: 100%;
  }

  .footerList1 {
    margin: 15px 0;
  }

  .footerList1 a {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }

  .socials {
    padding-bottom: 20px;
    padding-top: 25px;
  }

  .socials ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
