/* =================== HEADER STYLES ====================== */
* {
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family: "IBM Plex Sans Devanagari", sans-serif;
  background-color: #202129;
  color: white;
}

/* =================== MAIN STYLES ====================== */

nav {
  padding: 10px;
  display: flex;
  background-color: black;
}

.eee {
  list-style-type: none;
}

.eee li {
  display: inline-block;
  padding: 0 20px;
}

.cover {
  position: relative;
  text-align: center;
}

h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

img {
  height: 750px;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}

.intro {
  width: 70vw;
  margin-top: 25px;
}

.intro p {
  margin-top: 10px;
}

.multiple {
  width: 70vw;
  margin-top: 20px;
  overflow: hidden;
}

.multiple img {
  width: 40vw;
  height: 400px;
  float: left;
  margin: 0 15px 30px 0;
}

/* =================== FOOTER STYLES ====================== */
footer {
  background-color: grey;
}

footer div {
  display: flex;
  width: 80vw;
  padding-bottom: 70px;
}

.footerList1 {
  margin-top: 30px;
}

.footerList1 li {
  list-style: none;
  margin: 5px 0;
}

.footerList1 a {
  text-decoration: none;
  color: white;
}

.footerList1 a:hover {
  text-decoration: underline;
}
